<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Owner" value=""/>
    <add key="Repositories" value=""/>
    <add key="Workflows" value=""/>
    <add key="BearerToken" value=""/>
    <add key="SQLConnectionString" value=""/>
    <add key="SQLFiles" value=""/>
  </appSettings>
</configuration>